<template>
  <div :class="$style.columns">
    <div
      v-for="project in information.projects"
      :key="slug(project.name)"
      :class="[$style.column, $style['is-half-tablet'], $style['is-one-third-desktop'], $style['is-one-quarter-widescreen'], $style['is-one-quarter-fullhd']]">
      <div :class="$style.card">
        <header :class="$style['card-header']">
          <nuxt-link 
            :to="'/project/' + project.__file" 
            :class="$style['card-header-title']">
            {{ project.name }}
          </nuxt-link>
        </header>
        <div :class="$style['card-image']">
          <nuxt-link 
            :to="'/project/' + project.__file" >
            <figure :class="[$style['image'], $style['is-4by3']]">
              <img 
                :src="project.banner" 
                :alt="project.name">
            </figure>
          </nuxt-link>
        </div>
        <div :class="$style['card-content']">
          <div :class="$style.content">
            {{ project.description }}
            <br>
            <div :class="$style.tags">
              <a 
                v-for="keyword in project.keywords"
                :class="[$style.tag, $style['is-rounded'], $style['is-dark']]"
                :key="keyword">#{{ keyword }}</a>
            </div>
          </div>
          <time>Started on {{ formatDate(project.date.start) }}</time>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

import { MakeSlug } from '~/assets/apis/name.js'

export default {
  layout: 'container',
  head: {
    title: 'Projects - Kamontat Chantrachirathumrong'
  },
  computed: mapState(['information']),
  methods: {
    slug(name) {
      return MakeSlug(name)
    },
    formatDate(date) {
      const d = moment(date, 'DD-MMM-YYYY')
      return d.isValid() ? d.format('DD MMM YYYY') : ''
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.tags {
  margin-top: $gap-f-0;
}
</style>
