<template>
  <div :class="$style.columns">
    <div
      v-for="skill in information.skills"
      :key="slug(skill.name)"
      :class="[$style.column, $style['is-half-tablet'], $style['is-one-third-desktop'], $style['is-one-quarter-widescreen'], $style['is-one-quarter-fullhd']]">
      <div :class="$style.card">
        <div :class="$style['card-content']">
          <div :class="$style.content">
            <span :class="$style.highlight">{{ skill.name }}</span> - {{ skill.description }}
            <br>
            <div :class="$style.tags">
              <a 
                v-for="keyword in skill.keywords"
                :class="[$style.tag, $style['is-rounded'], $style['is-dark']]"
                :key="keyword">#{{ keyword }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

import { MakeSlug } from '~/assets/apis/name.js'

export default {
  layout: 'container',
  head: {
    title: 'Skills - Kamontat Chantrachirathumrong'
  },
  computed: mapState(['information']),
  methods: {
    slug(name) {
      return MakeSlug(name)
    },
    formatDate(date) {
      const d = moment(date, 'DD-MMM-YYYY')
      return d.isValid() ? d.format('DD MMM YYYY') : ''
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.tags {
  margin-top: $gap-f-0;
}

.highlight {
  font-weight: 800;
  color: $net-color;

  &:hover {
    color: $secondary;
  }
}
</style>
