<template>
  <div :class="$style.columns">
    <div
      v-for="work in information.works"
      :key="slug(work.company + ' ' + work.position)"
      :class="[$style.column, $style['is-half-tablet'], $style['is-one-third-desktop'], $style['is-one-quarter-widescreen'], $style['is-one-quarter-fullhd']]">
      <div :class="$style.card">
        <header :class="$style['card-header']">
          <nuxt-link 
            :to="'/work/' + work.__file" 
            :class="$style['card-header-title']">
            {{ work.position }}
          </nuxt-link>
        </header>
        <div :class="$style['card-content']">
          <div :class="$style.content">
            {{ work.summary }} <a 
              :href="work.website" 
              target="_blank">@{{ work.company }}</a>
            <br>
            <div :class="$style.tags">
              <a 
                v-for="keyword in work.keywords"
                :class="[$style.tag, $style['is-rounded'], $style['is-dark']]"
                :key="keyword">#{{ keyword }}</a>
            </div>
          </div>
          <time>Started on {{ formatDate(work.date.start) }}</time>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

import { MakeSlug } from '~/assets/apis/name.js'

export default {
  layout: 'container',
  head: {
    title: 'Works - Kamontat Chantrachirathumrong'
  },
  computed: mapState(['information']),
  methods: {
    slug(name) {
      return MakeSlug(name)
    },
    formatDate(date) {
      const d = moment(date, 'DD-MMM-YYYY')
      return d.isValid() ? d.format('DD MMM YYYY') : ''
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.tags {
  margin-top: $gap-f-0;
}
</style>
