
<template>
  <script 
    src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"
    as="script" 
    defer/>
</template>

<script>
export default {
  head() {
    return {
      title: 'Admin Panel',
      script: [
        { src: 'https://identity.netlify.com/v1/netlify-identity-widget.js' }
      ],
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'kamontat cms page'
        }
      ]
    }
  }
}
</script>
