@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
// @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
// @import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Maitree);

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all'; // import base bulma
