<template>
  <div :class="[$style.container, $style.section]">
    <div :class="$style.headerContainer">
      <h1 :class="$style.headerTitle"><span :class="$style.positionText">{{ position }}</span> (<a 
        :href="website" 
        target="_blank">{{ company }}</a>)</h1>
      <h4 :class="$style.headerSubTitle">
        <span v-if="startDate">Start on {{ startDate }}</span> 
        <span 
          v-if="endDate">End on {{ endDate }}</span>
      </h4>
      <p :class="$style.headerSummary">{{ summary }}</p>
    </div>
    <div 
      v-if="highlights && highlights.length > 0" 
      :class="[$style.content, $style.highlightContainer]">
      <h1>Highlights</h1>
      <ol :class="$style['is-upper-roman']">
        <li 
          v-for="highlight in highlights" 
          :key="highlight">{{ highlight }}</li>
      </ol>
    </div>
    <div 
      :class="[$style.content, $style.contentContainer]" 
      v-html="markdown"/>
    <div :class="$style.gallery">
      <h1 :class="[$style.title, $style['is-3']]">Gallery</h1>
      <!-- <no-ssr>
        <VueFlux
          ref="slider"
          :options="fluxOptions"
          :images="gallery"
          :transitions="fluxTransitions"/>
      </no-ssr> -->
    </div>
  </div>
</template>

<script>
import moment from 'moment'

// let VueFlux
// let Transitions

// if (process.browser) {
//   const VF = require('vue-flux')
//   VueFlux = VF.VueFlux
//   Transitions = VF.Transitions
// }

export default {
  // components: {
  //   VueFlux
  // },
  head() {
    return {
      title: this.position,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.keywords.join(',')
        },
        {
          hid: 'description',
          name: 'description',
          content: `Working with ${this.company} on ${this.position} position`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `${this.position} @${this.company}`
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: `${process.env.baseUrl}${this.$route.fullPath}`
        }
      ]
    }
  },
  data() {
    return {
      dateFormat: 'DD MMM YYYY',
      position: undefined,
      highlights: undefined,
      summary: undefined,
      company: undefined,
      website: undefined
      // fluxOptions: {
      //   autoplay: true
      // },
      // fluxTransitions: Transitions
    }
  },
  computed: {
    startDate() {
      if (!this.date) return undefined

      const date = moment(this.date.start, 'DD-MMM-YYYY')
      if (!date.isValid()) return undefined

      return date.format(this.dateFormat)
    },
    endDate() {
      if (!this.date) return undefined

      const date = moment(this.date.end, 'DD-MMM-YYYY')
      if (!date.isValid()) return undefined

      return date.format(this.dateFormat)
    },
    markdown() {
      return this.$md.render(this.body).toString()
    }
  },
  asyncData({ store, redirect, params }) {
    const response = store.state.information.works.find(
      v => v.__file === params.slug
    )
    return response
  }
}
</script>

<style lang="scss" module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: $gap-f-2;
  padding-bottom: $gap-f-2;

  // padding-left: $gap-f-3;

  border: 2px solid $dark;
  border-radius: $round-a;
}

.headerTitle {
  @extend .has-english-font;
}

.headerSubTitle {
  @extend .has-english-font;
}

.headerSummary {
  @extend .has-english-font;
}

.highlightContainer {
  @extend .has-english-font;

  margin-top: $gap-f-4;
}

.positionText {
  color: $primary;

  @extend .title;
  @extend .is-4;
}

.contentContainer {
  @extend .has-english-font;

  margin-top: $gap-f-4;
}

.gallery {
}
</style>
