<template>
  <div :class="$style.root">
    <div 
      :class="[$style.container, $style.section]"
      @click="mount = false">
      <div 
        id="navigationBar" 
        :class="$style.topContainer">
        <nav :class="[$style.level, $style['is-mobile']]">
          <p :class="[$style['level-item'], $style['has-text-centered']]">
            <nuxt-link 
              :class="$style.link" 
              to="/search">Search</nuxt-link>
          </p>
          <p :class="[$style['level-item'], $style['has-text-centered']]">
            <nuxt-link 
              :class="$style.link" 
              to="/">
              <img 
                src="https://logo.kamontat.net/kc/1024w/primary-transparent-icon.png" 
                alt="website icon" 
                style="height: 70px;">
            </nuxt-link>
          </p>
          <p :class="[$style['level-item'], $style['has-text-centered']]">
            <nuxt-link 
              :class="$style.link"
              to="/contact">Contact</nuxt-link>
          </p>
        </nav>
      </div>
      <nuxt/>
    </div>
    <div :class="[$style.socialComponent, mount ? $style.active : '']">
      <div 
        :class="[$style.arrow, mount ? $style.clean : '' ]" 
        @click="mount = true"/>
      <div :class="$style.socialContainer">
        <div :class="$style.social">
          <a 
            v-for="social in information.socials"
            :class="$style.iconLink"
            :key="social.network"
            :href="social.url"
            target="_blank">
            <fa 
              :class="[$style.iconStyle, $style.iconColor]"
              :icon="['fab', social.network]" 
              size="2x"/>
          </a>
        </div>
        <div :class="$style.social">
          <a 
            v-scroll-to="'#navigationBar'"
            :class="$style.iconLink"
            href="#">
            <fa 
              :class="[$style.iconStyle, $style.iconUp]"
              :icon="['fas', 'chevron-up']" 
              size="2x"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      mount: false
    }
  },
  computed: mapState(['information'])
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.root {
  // position: relative;
  min-height: 94vh;
}

.topContainer {
  display: block;
  margin-bottom: $gap-f-3;
}

.socialComponent {
  position: fixed;
  display: flex;
  align-items: flex-end;
  z-index: 9999;

  bottom: $gap-f-3;
  right: -65px - $gap-f-0;

  &.active {
    right: $gap-f-0;
  }

  transition: all 0.6s ease;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

.social {
  background-color: $black;
  opacity: 0.45;
  border-radius: $round-a;

  margin-bottom: $gap-f-0;

  display: flex;
  flex-direction: column;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-right: 30px solid #000;

  opacity: 0.4;

  transition: all 0.6s ease;

  margin-right: $gap-f-0;

  &:hover {
    opacity: 1;
  }

  &.clean {
    opacity: 0;
  }
}

.iconLink {
  text-align: center;
  font-size: 2rem;
}

.iconColor {
  color: $white;
  background-color: $black;
  &:hover {
    color: $primary !important;
  }
}

.iconStyle {
  padding: $gap-f-0;
  border-radius: 100%;

  transition: all 0.6 ease;
}

.iconUp {
  color: $white;
  background-color: $black;
  &:hover {
    color: $secondary !important;
  }
}

.link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}
</style>
