<template>
  <div :class="$style.container">
    <h3 :class="[$style.title, $style['is-3']]"><span :class="$style.errorCode">{{ error.statusCode }}</span> {{ error.message }}</h3>
    <h4 :class="[$style.subtitle, $style['is-3']]">Sorry, you might go to wrong url, go <nuxt-link to="/">back</nuxt-link></h4>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: undefined
    }
  },
  head: {
    title: '404 - Kamontat Chantrachirathumrong'
  },
  data() {
    return {
      date: +new Date()
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 94vh;
}

.errorCode {
  color: $primary;
  font-size: $size-2;

  &:hover {
    color: $red;
  }
}
</style>
