<template>
  <section :class="$style.rootContainer">
    <h1 :class="$style.contactTitle">
      <nuxt-link to="/">
        <fa 
          :class="[$style.iconLink, $style.iconHome]"
          :icon="['fas', 'arrow-circle-left']" 
          size="lg"/></nuxt-link>
      Contact me</h1>

    <form 
      action="/success"
      name="contact" 
      method="POST" 
      data-netlify="true"
      data-netlify-honeypot="bot-field">

      <input 
        type="hidden" 
        name="form-name" 
        value="contact" >

      <div :class="$style.contactField">
        <div :class="$style.contactLabel">
          <label :class="$style.contactLabelText">Name</label>
        </div>
        <div :class="$style.contactBody">
          <div :class="$style.contactBodyField">
            <p :class="$style.contactControl">
              <input 
                :class="$style.contactInput" 
                type="text" 
                placeholder="Name">
              <span :class="$style.contactInputIcon">
                <fa :icon="['fas', 'user']"/>
              </span>
            </p>
          </div>
          <div :class="$style.contactBodyField">
            <p :class="$style.contactControl">
              <input 
                :class="$style.contactInput" 
                type="email" 
                placeholder="Email" >
              <span :class="$style.contactInputIcon">
                <fa :icon="['fas', 'envelope']"/>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div :class="$style.contactField">
        <div :class="$style.contactLabel">
          <label :class="$style.contactLabelText">Type</label>
        </div>
        <div :class="$style.contactBody">
          <div :class="$style.contactBodyField">
            <div :class="$style.contactControl">
              <div :class="$style.contactSelect">
                <select>
                  <option>Job offer</option>
                  <option>Question</option>
                  <option>Charity event</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div :class="$style.contactField">
        <div :class="$style.contactLabel">
          <label :class="$style.contactLabelText">Question</label>
        </div>
        <div :class="$style.contactBody">
          <div :class="$style.contactBodyField">
            <div :class="$style.contactControl">
              <textarea 
                :class="$style.contactTextarea" 
                placeholder="Explain how can I help you"/>
            </div>
          </div>
        </div>
      </div>

      <div :class="$style.contactField">
        <div :class="$style.contactLabel"/>
        <div :class="$style.contactBody">
          <div :class="$style.contactBodyField">
            <div :class="$style.contactControl">
              <div data-netlify-recaptcha="true"/>
            </div>
          </div>
        </div>
      </div>

      <div :class="$style.contactField">
        <div :class="$style.contactLabel"/>
        <div :class="$style.contactBody">
          <div :class="$style.contactBodyField">
            <div :class="$style.contactControl">
              <button 
                :class="$style.contactSubmit" 
                type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div :class="$style.footerContainer">
      <small>form is power by <a href="https://www.netlify.com/docs/form-handling/">Netlify form</a></small> <br>
    </div>

    <div :class="$style.informationContainer">
      <div :class="$style.line">
        <div :class="$style.startLine">
          <h4 :class="[$style.personalText, $style.textUpperCase]">{{ information.name.firstName }} {{ information.name.lastName }}</h4>
        </div>
        <div :class="$style.endLine"/>
      </div>
      <div :class="$style.emptyLine"/>
      <div :class="$style.line">
        <div :class="$style.startLine">
          <a 
            :href="'mailto:'+information.email" 
            :class="[$style.personalText, $style.textUpperCase]">{{ information.email }}</a>
        </div>
        <div :class="$style.endLine"/>
      </div>
      <div :class="$style.line">
        <div :class="$style.startLine"/>
        <div :class="$style.endLine">
          <h4 :class="$style.personalText">{{ information.location.address }}</h4>
        </div>
      </div>
      <div :class="$style.line">
        <div :class="$style.startLine">
          <a 
            :href="'tel:'+information.phone" 
            :class="[$style.personalText, $style.textUpperCase]">{{ information.phone }}</a>
        </div>
        <div :class="$style.endLine">
          <h4 :class="$style.personalText">{{ information.location.city }}</h4>
        </div>
      </div>
      <div :class="$style.line">
        <div :class="$style.startLine"/>
        <div :class="$style.endLine">
          <h4 :class="$style.personalText">{{ information.location.country }} {{ information.location.postalCode }}</h4>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  head: {
    title: 'Contact me - Kamontat Chantrachirathumrong'
  },
  computed: mapState(['information'])
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/bulma.scss';

.iconLink {
  margin: 0;
  border-radius: 100%;
}

.iconHome {
  color: $white;
  background-color: $black;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.rootContainer {
  @extend .container;
  @extend .section;
}

.footerContainer {
  margin-top: $gap-f-4;
}

.contactField {
  @extend .field;
  @extend .is-horizontal;
}

.contactLabel {
  @extend .field-label;
  @extend .is-normal;
}

.contactLabelText {
  @extend .label;
}

.contactBody {
  @extend .field-body;
}

.contactBodyField {
  @extend .field;
}

.contactControl {
  @extend .control;
  @extend .is-expanded;
  @extend .has-icons-left;
}

.contactInput {
  @extend .input;
}

.contactInputIcon {
  @extend .icon;
  @extend .is-small;
  @extend .is-left;
}

.contactTextarea {
  @extend .textarea;
}

.contactSelect {
  @extend .select;
  @extend .is-fullwidth;
}

.contactTitle {
  @extend .title;
  @extend .is-2;
}

.contactSubmit {
  @extend .button;
  @extend .is-link;
}

.informationContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-top: $gap-f-4;

  opacity: 0.9;
}

.line {
  height: 40px;
  width: 90vw;

  border-bottom: 0.44px solid $grey-dark;

  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.emptyLine {
  height: 40px;
  width: 90vw;

  border-bottom: 0.44px solid $grey-dark;
}

.startLine {
  margin-left: $gap-f-0;

  display: flex;
  align-items: center;
}

.endLine {
  margin-right: $gap-f-0;

  display: flex;
  align-items: center;
}

.personalText {
  font-size: $size-6;
  color: $black;
}

@include mobile {
  .personalText {
    font-size: 0.825rem;
  }
}

a.personalText:hover {
  color: $primary;
  text-decoration: underline solid $primary;
}

.textUpperCase {
  text-transform: uppercase;
}
</style>
