<template>
  <div>
    <div :class="$style.centerContainer">
      <div :class="$style.leftContainer">
        <figure :class="$style.bannerImageContainer">
          <img 
            :class="$style.bannerImage" 
            :src="information.picture">
        </figure>
      </div>

      <div :class="$style.rightContainer">
        <h1 :class="$style.header">{{ information.name.firstName }} {{ information.name.lastName }}</h1>
        <h2 :class="$style.header2">{{ information.myself }}</h2>
        <div :class="$style.summaryContainer">
          <p>{{ information.summary }}</p>
        </div>
      </div>
    </div>
    <div :class="$style.buttomContainer">
      <a 
        v-for="button in buttons"
        :key="button.name"
        :class="[$style[button.css], currentPath === button.path ? $style['is-active'] : '']"
        @click="onComponentChange(button)" >
        {{ button.name }}
      </a>
    </div>
    <nuxt-child 
      id="child"
      :key="currentPath" 
      :style="{paddingTop: '16px'}"
      keep-alive/>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  layout: 'container',
  data() {
    return {
      buttons: [
        {
          name: 'Work',
          path: '/works',
          css: 'workButton'
        },
        {
          name: 'Project',
          path: '/projects',
          css: 'projectButton'
        },
        {
          name: 'Skill',
          path: '/skills',
          css: 'skillButton'
        }
      ]
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    ...mapState(['information'])
  },
  methods: {
    onComponentChange(b) {
      this.$router.push(`${b.path}`)
      this.$scrollTo(`#child`)
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.centerContainer {
  display: block;
  justify-content: space-around;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: $gap-f-2;
}

.leftContainer {
  display: block;
}

.buttomContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;

  margin-top: $gap-f-2;
}

.summaryContainer {
  @extend .content;
}

.bannerImageContainer {
  @extend .image;
  width: 100%;
}

.bannerImage {
  width: 100%;
  height: auto;

  border-radius: $round-b;
}

.header {
  line-height: 1;
  font-size: $size-3;
  @extend .has-english-font;
}

.header2 {
  font-size: $size-5;
  @extend .has-english-font;
}

.header3 {
  font-size: $size-6;
  @extend .has-english-font;

  margin-bottom: $gap-f-2;
}

%Button {
  border-radius: $round;
  width: 20vw;
  min-width: 85px;
  max-width: 180px;

  height: 20vw;
  min-height: 85px;
  max-height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $size-4;
  font-weight: 400;

  @extend .has-english-font;

  @extend .button;
  @extend .is-outlined;
}

.workButton {
  @extend %Button;
  @extend .is-primary;
}

.projectButton {
  @extend %Button;
  @extend .is-secondary;
}

.skillButton {
  @extend %Button;
  @extend .is-info;
}

@include touch {
  .informationTitle {
    font-size: 2rem;
  }
}

@include tablet {
  .centerContainer {
    display: flex;
  }

  .rightContainer {
    padding-top: 0;
    padding-left: $gap-f-2;
  }

  .bannerImageContainer {
    width: 40vw;
    max-width: 600px;
  }

  .header {
    font-size: $size-2;
  }

  .header2 {
    font-size: $size-4;
  }

  .header3 {
    font-size: $size-5;
  }
}
</style>
