<template>
  <div :class="$style.centerContainer">
    <div :class="$style.contentContainer">
      <h1 :class="$style.titleMessage">{{ message }}</h1>
      <small>Redirect to home page in {{ timeout }}s</small>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const timeout = 5

    return {
      initalTimeout: timeout,
      timeout
    }
  },
  asyncData({ query }) {
    return { message: query.message || 'Thank you for your view :)' }
  },
  mounted() {
    const countDown = window.setInterval(() => {
      this.timeout -= 1
    }, 1000)
    window.setTimeout(() => {
      this.$router.replace('/')
      window.clearInterval(countDown)
    }, 1000 * this.initalTimeout)
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.centerContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  min-height: 94vh;
}

.contentContainer {
  @extend .content;

  @extend .has-english-font;
}

.titleMessage {
  @extend .title;
  @extend .is-2;
}
</style>
