<template>
  <div :class="$style.centerContainer">
    <div :class="$style.contentContainer">
      <h1 :class="$style.titleMessage">'<span :class="$style.highlight">{{ title }}</span>' is not available</h1>
      <h3 :class="$style.subtitleMessage">Work in Process</h3>
      <small>I wish I could implement this before your visit, but <nuxt-link to="/">here</nuxt-link> is home link :)</small>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'WIP'
  },
  asyncData({ query }) {
    return { title: query.title || 'Your request page' }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/font.scss';
@import '~/assets/styles/bulma.scss';

.centerContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  min-height: 94vh;
}

.contentContainer {
  @extend .content;

  @extend .has-english-font;
}

.titleMessage {
  @extend .title;
  @extend .is-2;
}

.subtitleMessage {
  @extend .subtitle;
  @extend .is-2;
}

.highlight {
  color: $primary;

  &:hover {
    color: $red;
  }
}
</style>
