<template>
  <div :class="$style.container">
    <h1 :class="$style.title">Website information</h1>
    <h4 :class="$style.description"><span :class="$style.header">Environment:</span> {{ env }}</h4>
    <h4 :class="$style.description"><span :class="$style.header">Version:</span> {{ version }}</h4>
    <h4 :class="$style.description"><span :class="$style.header">Build date:</span> {{ build }}</h4>
    <h4 :class="$style.description"><span :class="$style.header">Git:</span> {{ git.version }} ({{ git.hash }})</h4>

    <div :class="$style.histories">
      <h1 :class="$style.title">CHANGELOG</h1>
      <div 
        v-for="(commits, type) in git.hashs" 
        :id="type" 
        :key="type">
        <div v-if="type && types[type]">
          <a 
            :class="$style.subtitle" 
            @click="model[type] = !model[type]">{{ types[type] }}</a>
          <div v-if="model[type]">
            <a 
              v-for="commit in commits" 
              :key="commit.fullhash" 
              :href="'https://gitlab.com/kcnt/resume/commit/' + commit.fullhash"
              target="_blank">
              <div :class="[$style.history, 'box']">
                <div :class="$style.commitComponent">
                  <h1 :class="$style.commitHash">{{ commit.hash }}</h1>
                  <h4 :class="$style.commitMessage"><span 
                    v-if="commit.scope" 
                    :class="$style.commitScope">{{ commit.scope }}: </span>{{ commit.message }}</h4>
                  <time :class="$style.commitDate">{{ commit.date && commit.date.format("DD MMM YYYY HH:mm:ss") }}</time>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    const hashs =
      process.env.git.hashs !== ''
        ? process.env.git.hashs.split('\n').reduce((p, hash) => {
            const fullhash = hash.match(/^[a-zA-Z0-9]+:/)[0].slice(0, -1)

            const rawMessage = hash
              .replace(`${fullhash}:`, '')
              .replace(/ \[.*\]$/, '')
              .trim()

            const message = rawMessage.replace(/^[a-zA-Z]+/, '') // remove type

            const scope = message.replace(/^\(([a-zA-Z0-9\-_]+)\).*/, '$1')
            const type = rawMessage.match(/^[a-zA-Z]+/)

            const object = {
              fullhash,
              hash: fullhash.substr(0, 7),
              message: message.replace(/^\((.*)\):/, '').trim(), // remove scope
              scope: scope.length > 10 ? undefined : scope, // scope cannot more than 10 charactor
              date: moment(hash.match(/\[.*\]$/), '[[]X[]]'),
              type: type && type.length > 0 ? type[0] : undefined
            }

            if (!p[object.type]) p[object.type] = []
            p[object.type].push(object)
            return p
          }, {})
        : []

    return {
      env: process.env.nodeEnv,
      version: process.env.version,
      git: {
        version: process.env.git.version,
        hash: process.env.git.hash,
        hashs
      },
      build: moment(`${process.env.buildDate} +0700`, 'x Z'),
      types: {
        feat: 'Feature',
        impr: 'Improving application',
        perf: 'Improving performance',
        fix: 'Fixes Bug'
      },
      model: {
        feat: false,
        impr: false,
        perf: false,
        fix: false
      }
    }
  }
}
</script>

<style lang="scss" scoped module>
@import '~/assets/styles/variable.scss';

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-top: $gap-f-3;
  margin-bottom: $gap-f-3;

  margin-right: $gap-f-4;
  margin-left: $gap-f-4;
}

.title {
  font-size: $size-3;
  font-weight: bold;

  color: $primary;

  margin-top: $gap-f-4;

  text-align: center;
}

.subtitle {
  font-size: $size-5;
  color: $secondary;

  margin-top: $gap-f-3;

  text-align: center;

  &:hover {
    color: $link;
  }
}

.description {
  font-size: $size-4;
  .header {
    color: $secondary;
  }
}

.histories {
}

.history {
  margin: $gap-f-0;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 2px 3px rgba(51, 51, 255, 0.5), 0 0 0 1px rgba(51, 51, 255, 0.5);
  }
}

.commitComponent {
}

.commitHash {
  font-size: $size-6;
  text-align: end;
}

.commitScope {
  font-weight: bolder;
}

.commitMessage {
  font-size: $size-4;
}

.commitDate {
  font-size: $size-6;
}
</style>
