<template>
  <div>Hello project {{ slug }}</div>
</template>

<script>
export default {
  head() {
    return {
      title: this.slug
    }
  },
  asyncData({ redirect, params }) {
    return redirect('/wip?title=Project information page')
    // return { slug: params.slug }
  }
}
</script>
